* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

.homepage-top-part {
  position: relative;
  background: url("./assets/castle.jpg") no-repeat center center/cover;
  width: 100%;
  height: 90vh;
  color: #fff;
}

.homepage-top-part::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 200px rgba(0, 0, 0);
}

.logo-and-routes {
  display: flex;
  width: 80%;
  margin: auto;
  height: 80px;
}

.logo-and-routes .logo {
  z-index: 1;
  color: #fff;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Righteous", cursive;
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo-and-routes .route-items {
  display: flex;
  z-index: 1;
  width: 50%;
  align-items: center;
}

.route-items .route-item {
  width: 25%;
  text-align: center;
  cursor: pointer;
}

.logo-and-routes .auth {
  z-index: 1;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.homepage-top-part-content {
  display: flex;
  flex-direction: column;
  margin: 250px 0 0 400px;
  color: rgba(255, 255, 255);
}

.homepage-top-part-content h1 {
  z-index: 1;
  font-size: 3vw;
}

.homepage-top-part-content h3 {
  z-index: 1;
  font-size: 1.5vw;
  padding: 0 0 30px 0;
}

.homepage-top-input {
  z-index: 1;
  display: flex;
}

.homepage-top-input input {
  width: 40%;
  padding: 20px 20px;
  border: #ccc;
  color: black;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.homepage-top-input p {
  padding: 20px 0;
  width: 10%;
  text-align: center;
  background: #3454d1;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.guide-container {
  padding: 50px 20px;
  max-width: 80%;
  margin: auto;
}

.guides {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.guide {
  /* background: #f5f9ff; */
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(19, 15, 235, 0.1) 2px 4px 40px;
}

.guide img {
  margin: 20px auto 30px auto;
  width: 60px;
  height: auto;
}

.guide h4 {
  text-align: center;
  font-size: 1vw;
  margin: 0 0 30px 0;
}

.guide p {
  text-align: justify;
  margin: 0 0 40px 0;
}

.guide .guide-btn {
  width: 50%;
  background: #3454d1;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  margin: 0 auto 30px auto;
  border-radius: 5px;
  cursor: pointer;
}

.development-view {
  margin: 0 auto 150px auto;
  display: flex;
  max-width: 80%;
}

.development-view .development-indication {
  flex: 1;
  padding: 150px 0px 0 200px;
}

.development-indication h3 {
  margin: 15px 0;
}

.development-indication .developmentview-see-more {
  color: #3454d1;
  display: flex;
  font-weight: bold;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
}

.developmentview-see-more img {
  width: 25px;
  height: auto;
  margin: 0 0 0 10px;
}

.development-view .development-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
}

.development-images img {
  width: 150px;
  height: auto;
  border-radius: 4px;
}

.development-images .img-1 {
  margin: 10px 100px;
}

.second-img-container {
  display: flex;
  margin: 0 50px;
}

.second-img-container .img-3 {
  width: 150px;
  height: 100px;
  margin: 0 10px;
}

.price-preview {
  margin: 150px auto 150px auto;
  display: flex;
  max-width: 80%;
}

.price-preview .img {
  width: 40%;
  padding: 0px 0px 0px 200px;

  display: flex;
  justify-content: left;
}

.price-preview .img img {
  width: 300px;
  height: auto;
}

.price-preview .price-prvw-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-prvw-content h3 {
  margin: 0 0 20px 0;
}

.price-prvw-content .price-prvw-see-more {
  color: #3454d1;
  display: flex;
  font-weight: bold;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
}

.price-prvw-see-more img {
  width: 25px;
  height: auto;
  margin: 0 0 0 10px;
}
